<div class="row">
    <h1>
        Sala:{{sala}}
        <select [(ngModel)]="sala" name="sala" onchange="seleccionSala( $event.option.selected.values )" type="string" autofocus="true">
                <!-- <input (change)="seleccionImage( $event.target.files[0] )" type="file"> -->

            <!-- <option input #salaSelected type="string" name="value1" (ngModelChange)="onChanges($event)" selected>{{value1}}</option> -->
            <option value1>{{value1}}</option>
            <!-- <option input #salaSelected type="string" name="value2" (ngModelChange)="onChanges($event)" selected>{{value2}}</option> -->
            <option value2>{{value2}}</option>
            <!-- <option input #salaSelected type="string" name="value3" (ngModelChange)="onChanges($event)" selected>{{value3}}</option>     -->
            <option value3>{{value3}}</option>
        </select>
        <!-- <small> wsService.usuario.sala </small> -->
    </h1>
</div>
<button class="btn btn-danger" (click)="salir()">   
  Salir
</button>
<hr>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div id="chat-usuarios" class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>usuario</th>
                            <th>sala</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70">
                                <img [src]="usuario.img | imagen:'usuario'" class="img-50 img-circle">
                            </td>
                            <td>
                                {{usuario.nombre}}
                            </td>
                            <td>
                                {{usuario.sala}}
                            </td>

                            <!-- <td>   ACA LA IDEA ES SELECCIONAR USUARIOS PARA ESCRIBILES, TAMBIEN MEDICOS Y HOSPITALES
                            <button [routerLink]="['/medico', medico._id]" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                          </button>

                            <button (click)="borrarMedico( medico )" class="btn btn-primary">
                              <i class="fa fa-trash-o"></i>
                            </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <app-lista-usuarios></app-lista-usuarios> -->


    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <app-chat></app-chat>
            </div>
        </div>
    </div>
    <div class="footerInput">
        Super Chat - Ignacio Trezza
    </div>
</div>