<div class="row">
    <h1>
        Sala:
        <select [(ngModel)]="sala" name="sala" class="form-control" autofocus="true">
                <input #salaSelected type="string" class="form-control" name="sala" [(ngModel)]="salaSelected" (ngModelChange)="onChanges($event)">

                <div *ngIf="'sala1'; else elseBlock">
                        <option input value1 selected>{{value1}}</option>
                    </div>
                    <ng-template #elseBlock>
                        <option value1>{{value1}}</option>
                </ng-template>

                <div *ngIf="'sala2'; else elseBlock">
                        <option value2 selected>{{value2}}</option>
                    </div>
                    <ng-template #elseBlock>
                        <option value2>{{value2}}</option>
                </ng-template>

                <div *ngIf="'sala3'; else elseBlock">
                        <option value1 selected>{{value3}}</option>
                    </div>
                    <ng-template #elseBlock>
                        <option value3>{{value3}}</option>
                </ng-template>

        </select>
        <!-- <small> wsService.usuario.sala </small> -->
    </h1>
</div>
<button class="btn btn-danger" (click)="salir()">
  Salir
</button>
<hr>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div id="chat-usuarios" class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>usuario</th>
                            <th>sala</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70">
                                <img [src]="usuario.img | imagen:'usuario'" class="img-50 img-circle">
                            </td>
                            <td>
                                {{usuario.nombre}}
                            </td>
                            <td>
                                {{usuario.sala}}
                            </td>

                            <!-- <td>   ACA LA IDEA ES SELECCIONAR USUARIOS PARA ESCRIBILES, TAMBIEN MEDICOS Y HOSPITALES
                            <button [routerLink]="['/medico', medico._id]" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                          </button>

                            <button (click)="borrarMedico( medico )" class="btn btn-primary">
                              <i class="fa fa-trash-o"></i>
                            </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <app-lista-usuarios></app-lista-usuarios> -->


    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <app-chat></app-chat>
            </div>
        </div>
    </div>
    <footer class="footer">
        Super Chat - Ignacio Trezza
    </footer>
</div>